# User Files
vault.json
user_profile.json

# Editor directories and files
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pym
venv/
.venv/
env/
.env
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
main.spec

# Ignore accidental Node/PyInstaller artifacts
node_modules/
package.json
package-lock.json
resetPassword.py
